/* Animations */

@keyframes cursor-blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

.blink {
    animation: cursor-blink 1s infinite;
}

/* Styles */

html {
	background: #00201a;
}

body {
	color: lawngreen;
	font-family: monospace;
}

#text-area {
	text-shadow: 0 0 10px rgba(124,252,0,0.5);
}

.cursor {
	display: inline-block;
	background: lawngreen;
	box-shadow: 0 0 5px rgba(124,252,0,0.5);
}

.github {
	position: absolute;
	bottom: 1rem; right: 1rem;
	font-size: 13px;
	color: lawngreen;
}

.disabled { display: none; }
