/* Animations */

@keyframes cursor-blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.blink {
	animation: cursor-blink 1s infinite;
}

/* Styles */

html {
	background: #dddccc;
}

body {
	color: #333;
	font-family: monospace;
}

/*#text-area {
	text-shadow: 0 0 10px rgba(124,252,0,0.5);
}

.cursor {
	display: inline-block;
	background: lawngreen;
	box-shadow: 0 0 5px rgba(124,252,0,0.5);
}*/